*{
    margin: 0;
    padding: 0;
}

.edit-funcionario-modal{
    background-color: rgba(0, 0, 0, 0.81);
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #000;
    padding: 20px;
    scroll-behavior: smooth;
    z-index: 0.5;
}

.edit-funcionario-form{
    display: flex;
    height: 45vh;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 25px;
}

.close-editFuncionario-modal-button{
    background-color: rgb(255, 255, 255);
    height: 2.4vh;
    width: 1.1vw;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid black;
    position: fixed;
    left: 66%;
    top: 28%;
    cursor: pointer;
    transition-duration: .2s;
}

.close-editFuncionario-modal-button:hover{
    scale: 1.05;
}